h1, h2, h3 {
	text-align: center;
}

body {
	background: url(../Images/miss-cleo.jpg);
}

#game {
	display: inline-block;
	background: #ffffff;
	width: 100%;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	text-align: center;
}

#iphone {
	display: inline-block;
}

